PG_HOST=database.example.com
PG_PORT=5432
PG_DATABASE=noticeboard
PG_USER=noticeboard_app
PG_PASSWORD=REPLACE_ME
PG_SSLMODE=verify-full
PGSSLROOTCERT=/etc/noticeboard/postgres-ca.crt
NOTICEBOARD_JWT_SECRET=REPLACE_ME_WITH_A_RANDOM_SECRET_AT_LEAST_32_BYTES
NOTICEBOARD_RATE_LIMIT_STORAGE_URI=memory://
