server {
    listen 80;
    server_name __DOMAIN__;
    location ^~ /.well-known/acme-challenge/ {
        root /var/www/letsencrypt;
    }
    location / { return 308 https://__DOMAIN__$request_uri; }
}
